<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8" />
    <!--main sheet for css-->
    <link rel="stylesheet" href="css/lion.css" />
    <link rel="stylesheet" href="css/normalize.css" />
    <link href="https://fonts.googleapis.com/css2?family=Work+Sans:wght@200;300;400;500;600;700;800&display=swap"
        rel="stylesheet" />
    <link rel="stylesheet" href="css/all.min.css" />
    <link rel="preconnect" href="https://fonts.gstatic.com" />
    <title> template for css and html </title>

</head>

<body>

    <div class="parent">
        
            <div class="container"> test here</div>
            <i class="fa-solid fa-hammer"></i>
        
    </div>

</body>